body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 20px; */
  /* text-align: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myForm {
  width: 80%;
  /* float: center;
  text-align: center; */
  /* padding: 20px; */
}

.input {
  width: 300px;
  /* text-align: center;
  float: center; */
}

.randVarGroup {
  width: 700px;
  /* text-align: center;
  float: center; */
}

.header {
  display: block;
  background-color: black;
  color: white;
  /* position: fixed; */
  top: 0;
  width: 100%;
  align-content: center;
  border-radius: 0px;
  padding: 0px;
  z-index: 100; /* Force to be on top */
  height: 200px;
}

.welcome-text {
  text-align: center;
  font-size: 40px;
  align-content: center;
  display: block;
  padding-top: 70px;
}

.app-desc {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  margin-left: 20%;
}

.button-container {
  border: 1px solid black;
  display: block;
  width: 350px;
  height: 150px;
  align-items: center;
  padding: 40px;
  float: right;
  margin-right: 20%;
  text-align: center;
}

.paddedPage {
  padding: 30px;
}

.navbar {
  height: 80px;
}

.navbar-brand {
  padding-left: 20px;
}

.displayTable {
  width: 90%;
  padding-left: 10%;
  /* padding-right: 10%; */
}

.freqHist {
    padding: 10px;
    width: 700px;
    height: 500px;
    border: 1px solid black
}

.dropdown {
    width: 200px;
    padding-bottom: 20px;
    padding-top: 20px;

}